<!DOCTYPE html> 
<html>
<head>
  <title>Pong!</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <%= stylesheet_link_tag "pong/pong" %>
</head> 

<body>
  <center>
    <canvas id="game">
      <div id="unsupported">
        Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
      </div>
    </canvas>
  </center>
  <%= javascript_include_tag "socket.io" %>
  <%= javascript_include_tag "pong/game", "pong/pong" %>
  <script type="text/javascript">
  getGameInstance = function() {
    return Game.start('game', Pong);
  }
  var game = getGameInstance();
  Game.ready(game);

  var socket = io.connect('<%= APP_CONFIG["realtime_host"] %>');
  socket.emit('viewport_register', {'game_id': <%= params['id'] %> });
  </script>
  <%= javascript_include_tag "pong/realtime" %>
</body>
</html>
