<!DOCTYPE html> 
<html>
<head>
  <title>Pong!</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
  <%= stylesheet_link_tag "pong/pong" %>
</head> 

<body>
  <center>
    <canvas id="game">
      <div id="unsupported">
        Sorry, this example cannot be run because your browser does not support the &lt;canvas&gt; element
      </div>
    </canvas>
  </center>
  <%= javascript_include_tag "jquery", "socket.io", "zeu.framework" %>
  <%= javascript_include_tag "pong/game", "pong/pong" %>
  <script type="text/javascript">
  var game = Game.start('game', Pong);
  Game.ready(game);

  ZEU.registerViewport('<%= APP_CONFIG["realtime_host_from_outside"] %>', <%= params['id'] %>);
  </script>
  <%= javascript_include_tag "pong/realtime" %>
</body>
</html>
