<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>fart-together</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "bootstrap" %>
    <%= javascript_include_tag "jquery", "jquery_ujs", "bootstrap" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <%= render :partial => "layouts/header" %>
  </div>
  <div class="container">
    <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </div>
</body>
</html>
